::-webkit-scrollbar {
  width: 15px;
  height: 10px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 10px;
}

/* Show scrollbar when scrolling */
body:hover::-webkit-scrollbar {
  opacity: 1;
}

#from-station, #to-station {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  background-color: #ffe4b5; /* Changed to a warm color */
  color: #333;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

#from-station:hover, #to-station:hover {
  background-color: #ffcc99; /* Slightly darker warm color */
  color: #000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background-color: #f0e68c; /* Changed to a soft yellow */
}

.northern-rail-logo img {
  transform: scale(0.5);
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #000;
  background-color: #ffff00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.button:hover {
  background-color: #ffcc00;
}

form label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
  color: #000;
}

.ui-autocomplete {
  max-height: 200px; /* adjust the height as needed */
  overflow-y: auto;
  scrollbar-width: thin; /* add this to make the scrollbar thinner */
}

.station-dropdown:focus {
  border-color: #ffff00;
  box-shadow: 0 0 10px rgba(255, 255, 0, 0.6);
}

.northern-rail-logo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.journey-planner-header {
  background-color: #ffe600;
  color: #000;
  padding: 10px;
  margin-top: -50px;
  text-align: center;
  border-bottom: 1px solid #ffe600;
}

.journey-planner-header h2 {
  font-size: 24px;
  margin: 10;
  color: #000;
}

.from-station-label {
  font-size: 16px;
  margin-bottom: 10px;
  color: #000;
}

.to-station-label {
  font-size: 16px;
  margin-bottom: 10px;
  color: #000;
}

.button {
  background-color: #ffff00;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #ffcc00;
}

.journey-info {
  display: none;
}

.journey-info.show {
  display: block;
}

marquee {
  font: Ubuntu, sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #000;
}

.image-container {
  position: relative !important; /* keep the image in the normal document flow */
  clear: both !important; /* clear any floating elements */
  margin-top: 20px !important; /* add some space between the button and the image */
  text-align: center !important; /* center the image horizontally */
}


button {
  background-color: #ffff00; /* yellow background color */
  color: #000000; /* black text color */
  padding: 10px 20px; /* add some padding to make the button bigger */
  border: none; /* remove the default border */
  border-radius: 5px; /* add a rounded corner effect */
  cursor: pointer; /* change the cursor to a pointing hand */
  font-size: 16px; /* increase the font size */
  font-weight: bold; /* make the text bold */
}

button:hover {
  background-color: #ffcc00; /* darker yellow background color on hover */
}

.back-button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #3e8e41;
}